* {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-image: url(./sunSky.jpg);
    background-size: cover;
    text-align: center;
}

.navigation {
    display: inline-block;
    display: flex;
    justify-content: right;
    background-image: url(./rainfall.jpg);
    background-size: contain;
    text-shadow: -10px -10px 10px white;
    padding: 30px;
}

a {
    margin: 5px 15px; 
    color: #FDFF00;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
}

.profile_picture {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    box-shadow: -10px -10px 10px black;
    margin: 0 20px;  
}

.hello {
    display: inline-block; 
    text-shadow: 1px -1px 1px black;
}

.welcome {
    position: relative;
}

.tRex {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.portfolio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    
}

h1 {
    color: #367E18;
}

.aboutMe {
    background-image: url(./darkWood.jpg);
    background-size: cover;
    color: #BCE29E;
}
.aboutMe h2 {
    margin-top: 0;
    text
}
.aboutMe p {
    margin-bottom: 0;
}

main {
    text-shadow: 5px 5px 5px #367E18;
    color: #fff;
    background-image: url(./leaf.jpg);
}

#myWork {
margin-top: 0;
}

.work {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.project {
    display: block;
    margin: 0 5%; 
}

.project h3 {
     text-decoration: underline 5px black;
}

.project img {
    opacity: 0.5;
    border: 10px solid black;
  }
  
.project img:hover {
    opacity: 1.0;
  }

.workImage1 {
    width: 450px;
    height: 300px;
}

.workImage {
    width: 150px;
    height: 100px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(./dirt2.jpg);
    color: #FDFF00;
    text-shadow: 5px 5px 5px black;
    padding: 20px;
}

footer a, h4 {
    margin: 20px 50px;
}
h4 a {
    color: #7DE5ED;
    /* Make the word pop out when hovered over */
}