* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #97D2EC;
}

.navigation {
    display: inline-block;
    display: flex;
    justify-content: right;
}

a {
    display: block;
    margin: 5px 5px;
    
}

.profile_picture {
    width: 150px;
    height: 200px;
}

h1 {
    color: #367E18;
}

header {
    

}

section{

}

main {

}

.work {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.project {
    display: block;
    margin: 0 5%;
    
}
.workImage1 {
    width: 450px;
    height: 300px;
}
.workImage {
    width: 150px;
    height: 100px;
    
}



footer h3, h4{
    background-color: lightsalmon;

}