* {
    font-family: Arial, Helvetica, sans-serif;
}

.navigation {
    display: inline-block;
    display: flex;
    justify-content: right;
    background-image: url(./binary2.jpg);
}

a {
    margin: 5px 15px; 
    color: #FDFF00;
    font-style: italic;
    font-weight: 900;
    text-decoration: none;
}

.profile_picture {
    width: 150px;
    height: 200px;
    border-radius: 50%;
    box-shadow: -10px -10px 10px black;
    margin: 0 20px;
    
}

.hello {
    display: inline-block; 
}

.welcome {
    position: relative;
    text-align: center;
}

.tRex {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.portfolio {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    color: #367E18;
}

header {
    background-color: #ABD9FF;
}

main {

}

.work {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
}

.project {
    display: block;
    margin: 0 5%;
    
}
.workImage1 {
    width: 450px;
    height: 300px;
}
.workImage {
    width: 150px;
    height: 100px;
    
}



footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightsalmon;
}
footer h4 {
    margin: 20px 50px;
}